# Data Science Tools and Ecosystem

INTRODUCTION~

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* To learn the components of a Data Scientist's toolkit and list various tool catagories
* To learn how to use the Notebooks in JupyterLab
* To learn Git and GitHub
* To learn R capabilities and RStudio environment,etc.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL,etc.

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Apache Spark
4. SciPy,etc.

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [24]:
print("(3*4)+5 is a simple arithmatic expression to multiply then add integers, therefore answer =",(3*4)+5)

(3*4)+5 is a simple arithmatic expression to multiply then add integers, therefore answer = 17

In [27]:
print("To convert 200 minutes into hours we divide it by 60, therefore answer =",200/60,"hours")

To convert 200 minutes into hours we divide it by 60, therefore answer = 3.3333333333333335 hours

## Author
Subarna Sasmal